# All files
*                               @jasm-development/backend-maintainers

.github/                        @jasm-development/chore-workers

# Documentation
docs/*                          @jasm-development/documentation-maintainers

# Schema files
*.json                          @jasm-development/schema-maintainers
